<p id="notice"><%= notice %></p>

<p>
  <strong>Pic:</strong>
  <%= @course.pic %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @course.desc %>
</p>

<p>
  <strong>Par:</strong>
  <%= @course.par %>
</p>

<p>
  <strong>Yardage:</strong>
  <%= @course.yardage %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
